

/* MOdificando la clase "Slider"*/
.slider {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: change 10s infinite alternate linear;
}

.slider li {
width: 100%;
list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes change {

    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

}