

ul.acorh, ul.acorh *  {
    margin: 0;
    padding: 0;
    border: 0;
}

ul.acorh {
    margin: 10px auto;
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: 18px;
}

ul.acorh li {
    list-style: none;
}

ul.acorh li a{
    display: block;
    padding: 10px 10px 10px 20px;
    background: rgb(19, 18, 19);
    color: aliceblue;
    border-bottom: 1px solid rgb(117, 155, 230);
    border-top: 1px solid rgb(117, 230, 119);
    text-decoration: none;
    box-sizing: border-box;
}

ul.acorh li ul {
    max-height: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    transition: .3s all ease-in;
}

ul.acorh li li a{
    padding: 10px 10px 10px 40px;
    background: white;
    color: black;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid rgb(205, 213, 205);
    box-sizing: border-box;
}

ul.acorh li li :last-child a{
    border-bottom: 0;
}

ul.acorh li:hover ul{
    max-height: 300px;
    transition: .3s all ease-in;
}

ul.acorh li a:hover{
    background: steelblue;
    color: beige;
}
